.nogps-info {
    margin-top: 150px;
    padding-bottom: 10px;
}

.nogps-info > img {
    position: relative;
    top: -87px;
    margin-bottom: -80px;
    .center-block();
}

.info-title {
    margin-bottom: 40px;
}

.condensed {
    margin-bottom: 0px;
}

.info-two-buttons {
    //width: 575px;
    margin-top:50px;
    margin-bottom: 50px;

    .leftButton {
        margin-left: 70px;
    }

    .rightButton {
        margin-right: 70px;
        > img {
            margin-left: 20px;
        }
    }
}
