<tr>
    <td>Points of Interest</td>
    <td ng-click="updateSettings('poi')"
        ng-class="{offColor: settingOffColor('poi')}">
        {{settings.poi}}
    </td>
</tr>
<tr>
    <td>Orientation</td>
    <td>{{settings.orientation}}</td>
</tr>
<tr>
    <td>2D/3D View</td>
    <td ng-click="updateSettings('view')">{{settings.view}}</td>
</tr>
<tr>
    <td>Theme</td>
    <td>{{settings.theme}}</td>
</tr>
<tr>
    <td>Fast/Short Routes</td>
    <td ng-click="updateSettings('routes')">{{settings.routes}}</td>
</tr>
<tr>
    <td>Voice Navigation</td>
    <td ng-click="updateSettings('voice')"
        ng-class="{offColor: settingOffColor('voice')}">
        {{settings.voice}}
    </td>
</tr>
<tr ui-sref="settings.countrylang">
    <td>Country/Language</td>
    <td class="offColor">&gt;</td>
</tr>
<tr ui-sref="settings.managepoi">
    <td>Manage POIs</td>
    <td class="offColor">&gt;</td>
</tr>
<tr>
    <td>Delete Cache</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td ui-sref="reset">Factory Reset</td>
    <td class="offColor">&nbsp;</td>
</tr>