build
*.user
*.pyc
*.swp
*build
nbproject
nbproject/*
.ycm_extra_conf.py

# local configurations
local-gbs-navit.conf

# GUI rules
*.sw*
*~
gui_html5/build/
gui_html5/build_xwalk/
gui_html5/bin/
gui_html5/node_modules/
gui_html5/vendor/
gui_html5/nbproject/
.DS_Store
