/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';


/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';


/**
 * Typography
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}

body {
    background: @exampleMap; 
}

.container-fluid {
    padding-left: 0;
}

.btn {
    border-radius: 0;
}

.btn-group-vertical > .btn {
  &:first-child:not(:last-child) {
    border-top-right-radius: 0;
  }
  &:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
  }
}

.btn-group-vertical {
  > .btn,
  > .btn-group,
  > .btn-group > .btn {
    height: 50px;
  }
}

.btn-menu {
    background-color: #000;
    background-repeat: no-repeat;
    background-position: top left;
}
.btn-settings {
    background-image: url(../assets/icons/menu_icon_white.png);
    .btn-menu;
}

.btn-search {
    background-image: url(../assets/icons/search_icon_white_sm.png);
    .btn-menu;
}

.btn-orientation {
    background-image: url(../assets/icons/northup_icon_white.png);
    .btn-menu;
}

.btn-position {
    background-image: url(../assets/icons/car_icon_white.png);
    .btn-menu;
}

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.less';