.btn {
    border-radius: 0;
}

.btn-group-vertical > .btn {
  &:first-child:not(:last-child) {
    border-top-right-radius: 0;
  }
  &:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
  }
}

.btn-group-vertical {
  > .btn,
  > .btn-group,
  > .btn-group > .btn {
    height: 60px;
    width: 60px;
  }

  > .btn + .btn,
  > .btn + .btn-group,
  > .btn-group + .btn,
  > .btn-group + .btn-group {
    margin-top: 0px;
    margin-left: 0;
  }
}

.btn-menu {
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
}

.btn-back {
    background-image: url(../assets/icons/back_icon_white_lg.png);
    background-position: 10px 10px;
    margin-bottom: 10px;
    .btn-menu;
}

.btn-settings {
    background-image: url(../assets/icons/menu_icon_white.png);
    background-position: 10px 10px;
    .btn-menu;
}

.btn-search {
    background-image: url(../assets/icons/search_icon_white_sm.png);
    background-position: 10px 14px;
    .btn-menu;
}

.btn-orientation {
    background-image: url(../assets/icons/northup_icon_white.png);
    background-position: 2px 1px;
    .btn-menu;
}

.btn-position {
    background-image: url(../assets/icons/car_icon_white.png);
    background-position: 2px 6px;
    .btn-menu;
}