<div class="btn-group-vertical" role="group">
    <button type="button" class="btn btn-back" ui-sref="locations.results" ng-style="locationControls" title="Back"></button>
    <button type="button" class="btn btn-search" ui-sref="locations.main" title="Search location"></button>
    <button type="button" class="btn btn-orientation" ui-sref="home" title="Orientation"></button>
    <button type="button" class="btn btn-position" ui-sref="home" title="Position"></button>
    <button type="button" class="btn btn-settings" ui-sref="welcome" title="Welcome"></button>
    <button type="button" class="btn btn-settings" ui-sref="mapload" title="Map Load"></button>
    <button type="button" class="btn btn-settings" ng-click="say()" title="Speech Synthesis"></button>
    <button type="button" class="btn btn-settings" ng-click="sendNXE()" title="Send NXE"></button>
</div>