[Desktop Entry]
Name=NavIt
Type=Application
Exec=/usr/bin/nxe-app wayland-socket-name=navit_21uhfdinijn
Version=1.4
X-TIZEN-Removable=True
X-TIZEN-PkgID=org.nxe.tizen
